@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

@layer utilities {
    * {
        scrollbar-color: #111 #050505;
        @apply text-zinc-700/90
        dark:text-white/50
    }

    ::-webkit-scrollbar {
        width: 0;
    }

    body {
        @apply bg-gray/[.7]
        dark:bg-black 
        bg-paper-pattern 
        bg-paper-pattern-size 
        bg-paper-pattern-position 
        dark:bg-paper-pattern-dark
    }
}
  